* {
    margin: 0px;
    padding: 0px;
}

/* header and nav bar start */

header {
    display: flex;
    justify-content: space-between;
    background-color: #373f41;
    height: 80px;
    color: #373f41;
}

.h1background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    height: 50px;
    width: 250px;
    text-align: right;
    margin: auto 0;
}

.unorderedlist ul {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    font-size: 20px;
    width: 94%;
    list-style: none;
    margin: 28px 183px 13px -77px;
    color: skyblue;
}

.unorderedlist ul li a {
    color: skyblue;
}

.unorderedlist ul li a:visited {
    color: skyblue;
}

.heroimage {
    position: relative;
}

.batman {
    position: absolute;
    background-color: skyblue;
    font-size: 28px;
    font-style: italic;
    top: 70%;
    left: 87%;
    width: 9%;
    text-align: center;
}

/* header and nav bar end */

/* about me section start */

.about-me {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
    color: #373f41;
}

.aboutmefirstcontainer {
    display: flex;
    width: 70%;
    align-items: center;
    font-size: 34px;
}

.aboutmesecondcontainer {
    border-right: solid 3px black;
    padding-right: 20px;
    text-align: right;
}

.aboutmetitle {
    font-weight: lighter;
}

.aboutmethirdcontainer {
    padding-left: 30px;
    font-size: 14px;
}

/* about me section end */

/* work section start */

.work {
    display: flex;
    justify-content: center;
    margin: 22px;
    padding-top: 50px;
    color: #373f41;
}

.workfirstcontainer {
    display: flex;
    width: 70%;
    align-items: center;
    font-size: 34px;
}

.worksecondcontainer {
    border-right: solid 3px black;
    padding-right: 20px;
    text-align: right;
    height: 870px;
}

.worktitle {
    font-weight: lighter;
}

.workthirdcontainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    margin: 10px;
}

.workimage1 {
    position: relative;
    display: flex;
    border: solid 3px skyblue;
    height: 350px;
}

.workimage1 img {
    opacity: 60%;
}

.workimage1 img:hover {
    opacity: 100%;
}

.workimagedescription1 {
    position: absolute;
    background-color: skyblue;
    top: 75%;
    width: 20%;
    text-align: center;
}

.workimagedescription1 h4 {
    font-weight: lighter;
}

.workimagedescription1 p {
    font-size: 15px;
}

.workimage2 {
    position: relative;
    display: flex;
    border: solid 3px skyblue;
    height: 230px;
}

.workimage2 img {
    opacity: 60%;
}

.workimage2 img:hover {
    opacity: 100%;
}

.workimagedescription2 {
    position: absolute;
    background-color: skyblue;
    top: 60%;
    width: 40%;
    text-align: center;
}

.workimagedescription2 h4 {
    font-weight: lighter;
}

.workimagedescription2 p {
    font-size: 15px;
}

.workimage3 {
    position: relative;
    display: flex;
    border: solid 3px skyblue;
    height: 230px;
}

.workimage3 img {
    opacity: 60%;
}

.workimage3 img:hover {
    opacity: 100%;
}

.workimagedescription3 {
    position: absolute;
    background-color: skyblue;
    top: 60%;
    width: 40%;
    text-align: center;
}

.workimagedescription3 h4 {
    font-weight: lighter;
}

.workimagedescription3 p {
    font-size: 15px;
}

.workimage4 {
    position: relative;
    display: flex;
    border: solid 3px skyblue;
    height: 230px;
}

.workimage4 img {
    opacity: 60%;
}

.workimage4 img:hover {
    opacity: 100%;
}

.workimagedescription4 {
    position: absolute;
    background-color: skyblue;
    top: 60%;
    width: 40%;
    text-align: center;
}

.workimagedescription4 h4 {
    font-weight: lighter;
}

.workimagedescription4 p {
    font-size: 15px;
}

.workimage5 {
    position: relative;
    display: flex;
    border: solid 3px skyblue;
    height: 230px;
}

.workimage5 img {
    opacity: 60%;
}

.workimage5 img:hover {
    opacity: 100%;
}

.workimagedescription5 {
    position: absolute;
    background-color: skyblue;
    top: 60%;
    width: 40%;
    text-align: center;
}

.workimagedescription5 h4 {
    font-weight: lighter;
}

.workimagedescription5 p {
    font-size: 15px;
}

/* work section end */

/* contact me section start */

.contact-me {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
    color: #373f41;
}

.contactmefirstcontainer {
    display: flex;
    width: 75%;
    justify-content: start;
    align-items: center;
    font-size: 34px;
}

.contactmesecondcontainer {
    display: flex;
    border-right: solid 3px black;
    padding-right: 54px;
    text-align: right;
    width: 10.3%;
}

.contactmetitle {
    font-weight: lighter;
    margin: -20px;
}

.contactmethirdcontainer {
    padding-left: 30px;
    font-size: 18px;
}

.contactmethirdcontainer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.contactmethirdcontainer ul li {
    padding: 0 90px 0 90px;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.contactmethirdcontainer ul li a:visited {
    color: black;
}

/* contact me section end */
