* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #373f41;
    height: 80px;
    color: #373f41;
}

.h1background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    height: 50px;
    width: 250px;
    text-align: right;
    margin: auto 0;
}

.unorderedlist ul {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    font-size: 20px;
    width: 94%;
    list-style: none;
    margin: 28px 183px 13px -77px;
    color: skyblue;
}

.unorderedlist ul li a {
    color: skyblue;
}

.unorderedlist ul li a:visited {
    color: skyblue;
}

.heroimage {
    position: relative;
}

.batman {
    position: absolute;
    background-color: skyblue;
    font-size: 28px;
    font-style: italic;
    top: 70%;
    left: 87%;
    width: 9%;
    text-align: center;
}

.about-me {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
    color: #373f41;
}

.aboutmefirstcontainer {
    display: flex;
    width: 70%;
    align-items: center;
    font-size: 34px;
}

.aboutmesecondcontainer {
    border-right: solid 2px black;
    padding-right: 20px;
    text-align: right;
}

.aboutmetitle {
    font-weight: lighter;
}

.aboutmethirdcontainer {
    padding-left: 30px;
    font-size: 14px;
}

.work {
    display: flex;
    justify-content: center;
    margin: 22px;
    padding-top: 50px;
    color: #373f41;
}

.workfirstcontainer {
    display: flex;
    width: 70%;
    align-items: center;
    font-size: 34px;
}

.worksecondcontainer {
    border-right: solid 2px black;
    padding-right: 20px;
    text-align: right;
}

.worktitle {
    font-weight: lighter;
}

.workthirdcontainer {
    padding-left: 30px;
}

.contact-me {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
    color: #373f41;
}

.contactmefirstcontainer {
    display: flex;
    width: 70%;
    align-items: center;
    font-size: 34px;
}

.contactmesecondcontainer {
    border-right: solid 2px black;
    padding-right: 20px;
    text-align: right;
}

.contactmetitle {
    font-weight: lighter;
}

.contactmethirdcontainer {
    padding-left: 30px;
    font-size: 18px;
}

.contactmethirdcontainer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.contactmethirdcontainer ul li {
    padding: 0 60px 0 60px;
}